target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/apache-maven-*/
.mvn/wrapper/apache-maven-*-bin.zip
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
node_modules/
.vite/

### Mac OS ###
.DS_Store

# Local runs / artifacts
run-live*.out
run-live*.err
vite-dev.*
tmp-admin-shots/
